DEPLOY_HOST=192.168.1.100
DEPLOY_PORT=22
DEPLOY_USER=root
DEPLOY_PASSWORD='your_password'
REMOTE_DIR=/srv/Gtp-Web
LOCAL_GIT_PUSH=1
LOCAL_GIT_REMOTE=origin
LOCAL_GIT_BRANCH=main
REMOTE_GIT_REMOTE=origin
REMOTE_GIT_BRANCH=main
SYNC_LOCAL_CONFIG=1
LOCAL_ENV_DIR=config/env
LOCAL_USERS_FILE=config/users.json
REMOTE_ENV_DIR=config/env
REMOTE_USERS_FILE=config/users.json
SSH_STRICT_HOST_KEY_CHECKING=accept-new
SSH_CONNECT_TIMEOUT=10
REMOTE_STOP_CMD='bash stop_linux.sh'
REMOTE_START_CMD='bash run_linux.sh'
